<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
     <!-- Our Custom CSS -->
     <link rel="stylesheet" th:href="@{/stylesheets/SidenavStyle.css}">
     <link rel="stylesheet" th:href="@{/stylesheets/TopnavStyle.css}">
     <link rel="stylesheet" th:href="@{/stylesheets/ContentStyle.css}">
     <link rel="stylesheet" th:href="@{/stylesheets/component.css}">

     <link rel="stylesheet" th:href="@{/stylesheets/comentStyle.css}">
     <link rel="stylesheet" th:href="@{/stylesheets/itemStyle.css}">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

 
     <!-- Font Awesome JS -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
     <script src="js/sidenav.js"></script>

     <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="images/Asset 2Aventurous Font.png" alt="Logo" width="200px"></h3>
                <strong><img src="images/Asset 3Aventurous Logo.png" alt="Logo" width="40px"></strong>
            </div>
    
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu">
                        <i class="fas fa-home"></i>
                        Explore
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        Trending
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Type
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/1">Dish</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/2">Dessert</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/3">Snack</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/4">Drink</a>
                        </li>
                    </ul>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        International
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/5">Western</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/6">Oriental</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/7">European</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/8">Tropical</a>
                        </li>
                        <li>
                            <a href="https://leonapp-papw.herokuapp.com/Catalog/9">Exotic</a>
                        </li>
                    </ul>
                </li>
            </ul>
    
        </nav>

        <div class="bp-header__main">
            <nav>
              <h1 class="bp-header__title">Home</h1>
              </nav>
              <nav class="bp-nav">
                  <a id="sidebarCollapse" class="bp-nav__item bp-icon bp-icon--bars" data-info="SideBar"><span>Sidebar</span></a>
                  
                <form enctype="multipart/form-data" action="#" th:action="@{/search__product}" method="post">     

                    <input id="searchbar" type="text" name="searchString" placeholder="Search..">
                    <a class="bp-nav__item bp-icon bp-icon--search search_bar" name="submit" data-info="Search"><span><input type="submit"></span></a>
                </form>

                <span class="bp-nav__name no-Top"><span th:text = "${usuario.nombreUsuario}"/></span>
                  <img class="img-circle " th:src="'/ImgUsuarioPerfil/' + ${usuario.getId()}" alt="foto" width="30px" height="30px">

                  <a class="bp-nav__item bp-icon bp-icon--prev" href="https://leonapp-papw.herokuapp.com/" data-info="Back"><span>Back</span></a>
                  <a class="bp-nav__item bp-icon bp-icon--history" href="https://leonapp-papw.herokuapp.com/History" data-info="History"><span>History</span></a>
                  <a class="bp-nav__item bp-icon bp-icon--kart" href="https://leonapp-papw.herokuapp.com/Kart" data-info="Shopping Kart"><span>Kart</span></a>
                  <a class="bp-nav__item bp-icon bp-icon--announce" href="https://leonapp-papw.herokuapp.com/Publish" data-info="Post Dish"><span>Post</span></a>
                  <a class="bp-nav__item bp-icon bp-icon--user" href="https://leonapp-papw.herokuapp.com/LogIn" data-info="Profile"><span>User</span></a>
                  <a class="bp-nav__item bp-icon bp-icon--list" href="https://leonapp-papw.herokuapp.com/Queue" data-info="Queue"><span>Queue</span></a>

                </nav>
          </div>

        <div class="bp-header__main">
                <nav>
                  <h1 class="bp-header__title">Home</h1>
                  </nav>
                  <nav class="bp-nav">
                      <a id="sidebarCollapse" class="bp-nav__item bp-icon bp-icon--bars" data-info="SideBar"><span>Sidebar</span></a>
                      <input id="searchbar" type="text" name="search" placeholder="Search..">
                      <a class="bp-nav__item bp-icon bp-icon--search search_bar" href="Catalog" data-info="Back"><span>Search</span></a>

                      <span class="bp-nav__name no-Top"><span th:text = "${usuario.nombreUsuario}"/></span>
                      <img class="img-circle " th:src="'/ImgUsuarioPerfil/' + ${usuario.getId()}" alt="foto" width="30px" height="30px">    

                      <a class="bp-nav__item bp-icon bp-icon--prev" href="/" data-info="Back"><span>Back</span></a>
                      <a class="bp-nav__item bp-icon bp-icon--history" href="History" data-info="History"><span>History</span></a>
                      <a class="bp-nav__item bp-icon bp-icon--kart" href="Kart" data-info="Shopping Kart"><span>Kart</span></a>
                      <a class="bp-nav__item bp-icon bp-icon--announce" href="Publish" data-info="Post Dish"><span>Post</span></a>
                      <a class="bp-nav__item bp-icon bp-icon--user" href="LogIn" data-info="Profile"><span>User</span></a>
                    </nav>
              </div>
      
  



    
        <!-- Page Content  -->
        <div id="content" class="container">
			<!-- Product grid -->
           
                  
                <div id= "TheMeat">
                        <div class="oddBackground">

                                <div class="row">
                                        <div class="col-lg">
                                                <div id="demo" class="carousel slide" data-ride="carousel">
                                                        <ul class="carousel-indicators">
                                                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                                                          <li data-target="#demo" data-slide-to="1"></li>
                                                          <li data-target="#demo" data-slide-to="2"></li>
                                                        </ul>
                                                        <div class="carousel-inner">
                                                          <div class="carousel-item active">
                                                            <img th:src="'/ImgArticulo1/' + ${articulo.getId()}" alt="Los Angeles" width="1100" height="400">
                                                            <div class="carousel-caption">
                                                              <p><span>Steamed.<span></p>
                                                            </div>   
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img th:src="'/ImgArticulo2/' + ${articulo.getId()}" alt="Chicago" width="1100" height="400">
                                                            <div class="carousel-caption">
                                                              <p><span>Mouth-watering flavour.</span></p>
                                                            </div>   
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img th:src="'/ImgArticulo3/' + ${articulo.getId()}" alt="New York" width="1100" height="400">
                                                            <div class="carousel-caption">
                                                              <p><span>At an incredible price.</span></p>
                                                            </div>   
                                                          </div>
                                                        </div>
                                                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                                          <span class="carousel-control-prev-icon"></span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#demo" data-slide="next">
                                                          <span class="carousel-control-next-icon"></span>
                                                        </a>
                                                </div>

                                                <video controls>
                                                        <source th:src="'/' + ${articulo.getVideo()}" type="video/mp4">
                                                    </video>
             
                                        </div>
                                        <div class="col-xl">
                                        <h1 class= "c-purple"><span th:text="${articulo.getNombre()}"></span></h1>
                                        <h5 class= "c-orange"><span th:text = "${articulo.getCategorias().get(0).getNombre()} + ', ' + ${articulo.getCategorias().get(1).getNombre()}"></h5>

                                          <p th:text="'Published on ' + ${articulo.getEstampaTiempo().toString()}"></p>

                                          <p th:text="'Stock: ' + ${articulo.getUnidades()}" ></p>

                                          <p>Price: <span th:text="'$ ' + ${articulo.getPrecio()}" ></span></p>
                                         <h5 class= "c-purple"><span th:unless="${articulo.getOferta() == 0}"><span th:text = "'SALE! Get each unit with ' + ${articulo.getOferta()} + '% Off'"></span></span></h5>

                                         <p>Rating:</p>
                                          
                                         <div class="stars">
                                           <input id="star-5" type="radio" name="star"/>
                                           <label for="star-5"></label>
                                           <input id="star-4" type="radio" name="star"/>
                                           <label for="star-4"></label>
                                           <input id="star-3" type="radio" name="star"/>
                                           <label for="star-3"></label>
                                           <input id="star-2" type="radio" name="star"/>
                                           <label for="star-2"></label>
                                           <input id="star-1" type="radio" name="star"/>
                                           <label for="star-1"></label>
                                       </div>

                                       <form enctype="multipart/form-data" action="#" th:action="@{/publishArticulo}" 
                                       th:object="${orden}" method="post"> 
                                       <h1 class= "c-orange">Order</h1>

                                          <p>Units:</p>
                                          <input id="writeComment" type="number" th:max="${articulo.getUnidades()}" name="Quantity" placeholder="Quantity" step="1" />
                                          <br>
                                          
                                          <p>Placed an order before? Rate this product:</p>
                                          
                                          <div class="stars">
                                            <input id="star-5" type="radio" name="star5"/>
                                            <label for="star-5"></label>
                                            <input id="star-4" type="radio" name="star4"/>
                                            <label for="star-4"></label>
                                            <input id="star-3" type="radio" name="star3"/>
                                            <label for="star-3"></label>
                                            <input id="star-2" type="radio" name="star2"/>
                                            <label for="star-2"></label>
                                            <input id="star-1" type="radio" name="star1"/>
                                            <label for="star-1"></label>
                                        </div>
                                        <br>
                                       
                                          <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
                                        </form>

                                        </div>
                                      </div>  
                        </div>

                        <div class="evenBackground">

                            <form enctype="multipart/form-data" action="#" th:action="@{/publishArticulo}" 
                                th:object="${orden}" method="post"> 
                                
                                <input id="writeComment" type="text" name="writeCom" placeholder="Post a comment." />
                                <button type="submit" > Share</button>

                            </form>

                        </div>


                        


                </div>

                  

                  



        </div>
  </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
          $("#sidebar").mCustomScrollbar({
              theme: "minimal"
          });

          $('#sidebarCollapse').on('click', function () {
              $('#sidebar, #content').toggleClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
      });
  </script>


</body>
</html>